## Import Libraries and Data File

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
data = pd.read_csv("data/Online Retail.csv")
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

## Data Cleaning :-

In [ ]:
data['Description'] = data['Description'].str.strip() # Removing Spaces from the 'Description' column of the data
data.dropna(axis=0, subset='InvoiceDate', inplace=True) # Drop the record having no Invoice Date
data['InvoiceDate'] = data['InvoiceDate'].astype('str') # Endure the InvoiceDate present as str type
df = data[~data['InvoiceDate'].str.contains('C')]
df.shape

In [ ]:
df.head()

In [ ]:
 basket = (
df[df['Country'] == 'France'].groupby(['InvoiceNo','Description'])['Quantity']
.sum().unstack().reset_index().fillna(0)
.set_index('InvoiceNo'))
basket

In [ ]:
def encode_units(x):
    if x <= 0 :
        return 0
    if x >= 1 :
        return 1
basket_sets = basket.applymap(encode_units)
basket_sets.drop('POSTAGE',inplace=True,axis=1)
basket_sets = basket_sets[:].astype('bool')
basket_sets

In [ ]:
frequent_item_sets = apriori(basket_sets,min_support=0.07,use_colnames=True)
rules = association_rules(frequent_item_sets,metric='lift',min_threshold=1)
rules

In [ ]:
rules[(rules['confidence'] >= 0.8) & (rules['lift'] >= 6)]