## Creating DataFrame from scratch

#### Import Pandas and set some display options for output

In [1]:
# Reference Pandas and Numpy
import numpy as np
import pandas as pd
# Set the output options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows',10)

### Creating a DataFrame from scratch

#### Create DataFrame from 2-D ndarray

In [2]:
pd.DataFrame(np.array([[10,20],[21,22]]))

    0   1
0  10  20
1  21  22

#### Create DataFrame object by passing a list of Series object

In [3]:
df1 = pd.DataFrame([pd.Series(np.arange(10,20)),pd.Series(np.arange(30,40))])
df1

    0   1   2   3   4   5   6   7   8   9
0  10  11  12  13  14  15  16  17  18  19
1  30  31  32  33  34  35  36  37  38  39

#### Dimensions of DataFrame objects

In [4]:
df1.shape

(2, 10)

### Specifying the column name

In [5]:
df2 = pd.DataFrame(np.array([[10,20],[30,40]]), columns = ["a","b"])
df2

    a   b
0  10  20
1  30  40

#### Access the names of columns for the DataFrame

In [6]:
df2.columns

Index(['a', 'b'], dtype='object')

#### Accessing the default column names

In [7]:
df1.columns

RangeIndex(start=0, stop=10, step=1)

### Retrive just the names of DataFrame columns by position

In [8]:
"{0}, {1}".format(df2.columns[0],df2.columns[1])

'a, b'

#### The Names of column can be changed by using .columns property

In [9]:
df2.columns = ['c','d']
"{0},{1}".format(df2.columns[0],df2.columns[1])

'c,d'

#### Assignment of index labels of the DataFrame

In [10]:
df3 = pd.DataFrame(np.array([[1,2,3],[4,5,6]]),columns = ["a","b","c"], index = ["d", "e"])
df3

   a  b  c
d  1  2  3
e  4  5  6

#### Access the index of the DataFrame object

In [11]:
df3.index

Index(['d', 'e'], dtype='object')

In [12]:
print("""The name of index of Data Frame are:- 
         {0},{1}\n""".format(df3.index[0],df3.index[1]),
     """The name of columns of the Data Frame are:-
         {0},{1},{2}""".format(df3.columns[0],df3.columns[1],df3.columns[2]))

The name of index of Data Frame are:-
         d,e
 The name of columns of the Data Frame are:-
         a,b,c

#### Creation of DataFrame by a dictionary and Series object

In [13]:
s1 = pd.Series(np.arange(1,6))
s2 = pd.Series(np.arange(7,12))
df4 = pd.DataFrame({'c1':s1,'c2':s2})
df4

   c1  c2
0   1   7
1   2   8
2   3   9
3   4  10
4   5  11

#### Demonstration of automatic alingnment in DataFrame

In [14]:
s3 = pd.Series(np.arange(13,15), index = [1,3])
df5 = pd.DataFrame({'c1':s1,'c2':s2,'c3':s3})
df5

   c1  c2    c3
0   1   7   NaN
1   2   8  13.0
2   3   9   NaN
3   4  10  14.0
4   5  11   NaN

### Read Data from file

#### To view the entire content of file on windows

In [15]:
# !type data\constituents-financials_csv.csv
# commented because creates a long output

### Read the csv file and Examine the first 5 records using '.head()' method

In [16]:
sp505 = pd.read_csv("data\constituents-financials_csv.csv", index_col = "Symbol",usecols = [0,2,3,12])
sp505.head()

                        Sector   Price  Price/Book
Symbol
MMM                Industrials  222.89       11.34
AOS                Industrials   60.24        6.35
ABT                Health Care   56.27        3.19
ABBV               Health Care  108.48       26.14
ACN     Information Technology  150.51       10.62

### Examine the last 5 records using '.tail()' method

In [17]:
sp505.tail()

                        Sector   Price  Price/Book
Symbol
XYL                Industrials   70.24        5.31
YUM     Consumer Discretionary   76.30      212.08
ZBH                Health Care  115.53        2.39
ZION                Financials   50.71        1.42
ZTS                Health Care   71.51       18.09

### Verify The nunmber of records/rows in the data frame

In [18]:
len(sp505)

505

### Examine the index of DataFrame by .index attribute

In [19]:
sp505.index

Index(['MMM', 'AOS', 'ABT', 'ABBV', 'ACN', 'ATVI', 'AYI', 'ADBE', 'AAP', 'AMD',
       ...
       'WYNN', 'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YUM', 'ZBH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=505)

### Get the columns of the Data Frame

In [20]:
sp505.columns

Index(['Sector', 'Price', 'Price/Book'], dtype='object')

#### Next data set to be used

! type data\omh.csv

In [21]:
hist_one_mon = pd.read_csv("data\omh.csv")
hist_one_mon[:4]

         Date   MSFT    AAPL
0  2014-12-01  48.62  115.07
1  2014-12-02  48.46  114.63
2  2014-12-03  48.08  115.93
3  2014-12-04  48.84  115.49

#### Unable to read the dataframe column by position

In [22]:
sp505[['Price', 'Price/Book']].head()

         Price  Price/Book
Symbol
MMM     222.89       11.34
AOS      60.24        6.35
ABT      56.27        3.19
ABBV    108.48       26.14
ACN     150.51       10.62

In [23]:
df = sp505.copy()
df.columns = [0,1,2]
df[[1]].head()

             1
Symbol
MMM     222.89
AOS      60.24
ABT      56.27
ABBV    108.48
ACN     150.51

### Type of DataFrame column

In [24]:
type(df[[1]])

pandas.core.frame.DataFrame

In [25]:
type(df[1])

pandas.core.series.Series

#### Columns retrived via the attribute access

#### Following will not by applicable to columns having space in their names

In [26]:
sp505.Price.head()

Symbol
MMM     222.89
AOS      60.24
ABT      56.27
ABBV    108.48
ACN     150.51
Name: Price, dtype: float64

### Get location of specified column

In [27]:
print(sp505.columns.get_loc("Price/Book"))

2

### Index selection in a DataFrame

#### Slicing the DataFrame with use of [ ] operator

In [28]:
sp505[:5]

                        Sector   Price  Price/Book
Symbol
MMM                Industrials  222.89       11.34
AOS                Industrials   60.24        6.35
ABT                Health Care   56.27        3.19
ABBV               Health Care  108.48       26.14
ACN     Information Technology  150.51       10.62

In [29]:
print(sp505[5:12])

                        Sector   Price  Price/Book
Symbol
ATVI    Information Technology   65.83        5.16
AYI                Industrials  145.41        3.55
ADBE    Information Technology  185.16       11.06
AAP     Consumer Discretionary  109.63        2.51
AMD     Information Technology   11.22       21.47
AES                  Utilities   10.06        2.20
AET                Health Care  178.00        3.79

In [30]:
print(sp505["ATVI":"AET"])

                        Sector   Price  Price/Book
Symbol
ATVI    Information Technology   65.83        5.16
AYI                Industrials  145.41        3.55
ADBE    Information Technology  185.16       11.06
AAP     Consumer Discretionary  109.63        2.51
AMD     Information Technology   11.22       21.47
AES                  Utilities   10.06        2.20
AET                Health Care  178.00        3.79

#### Get the row with index label "ATVI" as a series

In [31]:
sp505.loc["ATVI"]

Sector        Information Technology
Price                          65.83
Price/Book                      5.16
Name: ATVI, dtype: object

In [32]:
type(sp505.loc["ATVI"])

pandas.core.series.Series

#### When Two or More indices of sp505 retrived using .loc() the result is a DataFrame

In [33]:
sp505.loc[["ATVI","AMD"]]

                        Sector  Price  Price/Book
Symbol
ATVI    Information Technology  65.83        5.16
AMD     Information Technology  11.22       21.47

In [34]:
type(sp505.loc[["ATVI","AMD"]])

pandas.core.frame.DataFrame

#### Get the location of any particular symbol in index and use .iloc() to retrive it

In [35]:
i1 = sp505.index.get_loc("YUM")
i2 = sp505.index.get_loc("ATVI")
print("The index location of 'YUM' and 'ATVI' are {0},{1}\n \n".format(i1,i2))
print(sp505.iloc[[i1,i2]])

The index location of 'YUM' and 'ATVI' are 501,5


                        Sector  Price  Price/Book
Symbol
YUM     Consumer Discretionary  76.30      212.08
ATVI    Information Technology  65.83        5.16

### Scalar Value lookup by label or location

##### Scalar Value lookup by label

In [36]:
sp505.at['XRX','Price']

29.8

#### Scalar Value lookup by position -- Prefered method

In [37]:
sp505.iat[0,2]

11.34

### Boolean Selection of rows in DataFrame

In [38]:
sp505[sp505.Price < 15]

                        Sector  Price  Price/Book
Symbol
AMD     Information Technology  11.22       21.47
AES                  Utilities  10.06        2.20
CHK                     Energy   2.82        1.84
F       Consumer Discretionary  10.43        1.26
GE                 Industrials  14.45        1.70
KIM                Real Estate  14.01        1.20
NAVI                Financials  13.38        1.02
RRC                     Energy  12.82        0.59
UAA     Consumer Discretionary  13.14        2.72
UA      Consumer Discretionary  11.95        2.50

#### Renaming a column

In [39]:
sp505.rename(columns = {'Price/Book':'BookValue'}, inplace = True)
sp505.head()

                        Sector   Price  BookValue
Symbol
MMM                Industrials  222.89      11.34
AOS                Industrials   60.24       6.35
ABT                Health Care   56.27       3.19
ABBV               Health Care  108.48      26.14
ACN     Information Technology  150.51      10.62

#### Boolean selection based on multiple condition

#### Using & operator

In [40]:
sp505[(sp505.Price > 500)&(sp505.Sector == "Consumer Discretionary")]

                        Sector    Price  BookValue
Symbol
AMZN    Consumer Discretionary  1350.50      24.28
AZO     Consumer Discretionary   718.57     136.23
PCLN    Consumer Discretionary  1806.06       6.92

#### Using | operator

In [41]:
sp505[(sp505.BookValue > 1200)|(sp505.Sector == "Energy")]

        Sector  Price  BookValue
Symbol
APC     Energy  56.20       2.88
ANDV    Energy  96.90       1.70
APA     Energy  37.73       2.22
BHGE    Energy  27.50       2.25
COG     Energy  23.01       4.21
...        ...    ...        ...
RRC     Energy  12.82       0.59
SLB     Energy  67.40       2.64
FTI     Energy  29.10       1.06
VLO     Energy  86.77       1.93
WMB     Energy  28.56       3.01

[34 rows x 3 columns]

#### Specific column selection using boolean selection

In [42]:
sp505[(sp505.Price < 15)&(sp505.Sector == "Consumer Discretionary")][["BookValue"]]

        BookValue
Symbol
F            1.26
UAA          2.72
UA           2.50

In [43]:
type(sp505[(sp505.Price < 15)&(sp505.Sector == "Consumer Discretionary")][["BookValue"]])

pandas.core.frame.DataFrame

In [44]:
type(sp505[(sp505.Price < 15)&(sp505.Sector == "Consumer Discretionary")]["BookValue"])

pandas.core.series.Series

#### Renaming a column

#### Columns of orignal DataFrame is not renamed

In [45]:
sp505.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

#### InPlace renaming of columns in a DataFrame

In [46]:
sp505.rename(columns = {"Price/Book" : "BookValue"}, inplace = True)
sp505.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

##### Making a copy of DF( .copy() ) and add new column to it (by assignment operator)

In [47]:
copy = sp505.copy()
copy["TwicePrice"] = 2*copy.Price
copy.head()

                        Sector   Price  BookValue  TwicePrice
Symbol
MMM                Industrials  222.89      11.34      445.78
AOS                Industrials   60.24       6.35      120.48
ABT                Health Care   56.27       3.19      112.54
ABBV               Health Care  108.48      26.14      216.96
ACN     Information Technology  150.51      10.62      301.02

##### Use .insert(position,ColumnLabel,ValueExpression) to align a new column at desired location

In [48]:
copy.insert(1,"ThricePrice",3*copy.Price)
copy[:2]

             Sector  ThricePrice   Price  BookValue  TwicePrice
Symbol
MMM     Industrials       668.67  222.89      11.34      445.78
AOS     Industrials       180.72   60.24       6.35      120.48

#### create a new Series to merge as a column, one label in rcopy

In [49]:
rcopy = sp505[0:3][['Price']].copy()
rcopy

         Price
Symbol
MMM     222.89
AOS      60.24
ABT      56.27

In [50]:
s = pd.Series({'MMM':"In the Series","MFC":"Not in the Series"})
rcopy["Comment"] = s
rcopy

         Price        Comment
Symbol
MMM     222.89  In the Series
AOS      60.24            NaN
ABT      56.27            NaN

##### Replacing the Price column data with the new value instead of adding new column

In [51]:
copy = sp505.copy()
copy.Price = sp505.Price *3
copy.head()

                        Sector   Price  BookValue
Symbol
MMM                Industrials  668.67      11.34
AOS                Industrials  180.72       6.35
ABT                Health Care  168.81       3.19
ABBV               Health Care  325.44      26.14
ACN     Information Technology  451.53      10.62

#### it's not really simple insertion, it is alignment

In [52]:
copy = sp505.copy()
prices = sp505.iloc[[3,1,0]].Price.copy()
prices

Symbol
ABBV    108.48
AOS      60.24
MMM     222.89
Name: Price, dtype: float64

#### values are put in the correct place according to labels

In [53]:
copy.Price = prices
copy[:10]

                        Sector   Price  BookValue
Symbol
MMM                Industrials  222.89      11.34
AOS                Industrials   60.24       6.35
ABT                Health Care     NaN       3.19
ABBV               Health Care  108.48      26.14
ACN     Information Technology     NaN      10.62
ATVI    Information Technology     NaN       5.16
AYI                Industrials     NaN       3.55
ADBE    Information Technology     NaN      11.06
AAP     Consumer Discretionary     NaN       2.51
AMD     Information Technology     NaN      21.47

### Delete the columns in DataFrame

##### Make a copy of data to explore

In [54]:
copy = sp505[:4].copy()
copy

             Sector   Price  BookValue
Symbol
MMM     Industrials  222.89      11.34
AOS     Industrials   60.24       6.35
ABT     Health Care   56.27       3.19
ABBV    Health Care  108.48      26.14

##### delete the BookValue column
#####  deletion is in-place

In [55]:
del(copy['BookValue'])
copy

             Sector   Price
Symbol
MMM     Industrials  222.89
AOS     Industrials   60.24
ABT     Health Care   56.27
ABBV    Health Care  108.48

In [56]:
poped = copy.pop('Sector')
# Sector column is removed from orignal DataFrame
copy

         Price
Symbol
MMM     222.89
AOS      60.24
ABT      56.27
ABBV    108.48

###### We still have sector column as a result of pop

In [57]:
poped

Symbol
MMM     Industrials
AOS     Industrials
ABT     Health Care
ABBV    Health Care
Name: Sector, dtype: object

#### The columns can be removed by specifying axis = 1

In [58]:
copy = sp505[:4].copy()
col_drop = copy.drop('Sector',axis = 1)
col_drop

         Price  BookValue
Symbol
MMM     222.89      11.34
AOS      60.24       6.35
ABT      56.27       3.19
ABBV    108.48      26.14

In [59]:
# The orignal dataframe remains unchanged
copy

             Sector   Price  BookValue
Symbol
MMM     Industrials  222.89      11.34
AOS     Industrials   60.24       6.35
ABT     Health Care   56.27       3.19
ABBV    Health Care  108.48      26.14

### The row can be droped by specifying axis = 0

In [60]:
row_drop = copy.drop('MMM',axis = 0)
print(row_drop)

             Sector   Price  BookValue
Symbol
AOS     Industrials   60.24       6.35
ABT     Health Care   56.27       3.19
ABBV    Health Care  108.48      26.14

### Appending rows with .append()

In [61]:
copy1 = sp505.iloc[:3].copy()
copy2 = sp505.iloc[[10,12,2]].copy()
appended = copy1.append(copy2)
appended

C:\Users\radha\AppData\Local\Temp\ipykernel_20788\199836383.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appended = copy1.append(copy2)

             Sector   Price  BookValue
Symbol
MMM     Industrials  222.89      11.34
AOS     Industrials   60.24       6.35
ABT     Health Care   56.27       3.19
AES       Utilities   10.06       2.20
AMG      Financials  179.11       2.89
ABT     Health Care   56.27       3.19

#### default pd.concat() -- same as append

In [62]:
pd.concat([copy1,copy2])

             Sector   Price  BookValue
Symbol
MMM     Industrials  222.89      11.34
AOS     Industrials   60.24       6.35
ABT     Health Care   56.27       3.19
AES       Utilities   10.06       2.20
AMG      Financials  179.11       2.89
ABT     Health Care   56.27       3.19

In [63]:
copy2.insert(1,"Foo",pd.Series(0,index = copy2.index))
copy2

             Sector  Foo   Price  BookValue
Symbol
AES       Utilities    0   10.06       2.20
AMG      Financials    0  179.11       2.89
ABT     Health Care    0   56.27       3.19

##### Now concat(copy1,copy2) results "NaN" under column head 'Foo' for elements of copy1

In [64]:
pd.concat([copy1,copy2])

             Sector   Price  BookValue  Foo
Symbol
MMM     Industrials  222.89      11.34  NaN
AOS     Industrials   60.24       6.35  NaN
ABT     Health Care   56.27       3.19  NaN
AES       Utilities   10.06       2.20  0.0
AMG      Financials  179.11       2.89  0.0
ABT     Health Care   56.27       3.19  0.0

#### keys parmeter --- used to name which Series or DataFrame the value belongs to 
##### names parameter -- used for labeling

In [71]:
r = pd.concat([copy1,copy2],keys = ['df1','df2'],names = ["DataFrame","Row Id"]) 
r

                       Sector   Price  BookValue  Foo
DataFrame Row Id
df1       MMM     Industrials  222.89      11.34  NaN
          AOS     Industrials   60.24       6.35  NaN
          ABT     Health Care   56.27       3.19  NaN
df2       AES       Utilities   10.06       2.20  0.0
          AMG      Financials  179.11       2.89  0.0
          ABT     Health Care   56.27       3.19  0.0

#### pd.concat() also works along the column

In [66]:
df3 = sp505[:3][['Sector','Price']]
df4 = sp505[:3][['BookValue']]
pd.concat([df3,df4], axis = 1)

             Sector   Price  BookValue
Symbol
MMM     Industrials  222.89      11.34
AOS     Industrials   60.24       6.35
ABT     Health Care   56.27       3.19

In [67]:
df4_copy = df4.insert(1,"Sector",pd.Series(1,index = df4.index))

### Concat result can have duplicate column names

In [68]:
pd.concat([df3,df4],axis = 1)

             Sector   Price  BookValue  Sector
Symbol
MMM     Industrials  222.89      11.34       1
AOS     Industrials   60.24       6.35       1
ABT     Health Care   56.27       3.19       1

### Changing the join type

### Only returns the 'Price' when join is along axis = 0

In [69]:
df5 = sp505[:3][['Sector','Price']]
df6 = sp505[2:5][['BookValue','Price']]
pd.concat([df5,df6],join = 'inner')

         Price
Symbol
MMM     222.89
AOS      60.24
ABT      56.27
ABT      56.27
ABBV    108.48
ACN     150.51

#### Only returns the common Symbol label when join is along axis = 1

In [76]:
pd.concat([df5,df6],join = 'inner',axis = 1)

             Sector  Price  BookValue  Price
Symbol
ABT     Health Care  56.27       3.19  56.27

### Adding rows (and columns) via setting with enlargement

####  .loc() property can be used to add both rows or columns

##### 1.adding a new row

In [77]:
ss = sp505[:3][['Sector','Price','BookValue']].copy()
ss.loc['Foo'] = ['The Sector','The Price', 'The BookValue']
ss

             Sector      Price      BookValue
Symbol
MMM     Industrials     222.89          11.34
AOS     Industrials      60.24           6.35
ABT     Health Care      56.27           3.19
Foo      The Sector  The Price  The BookValue

#### 2.adding a new column

In [78]:
ss.loc[:,"per"] = 0
ss

             Sector      Price      BookValue  per
Symbol
MMM     Industrials     222.89          11.34    0
AOS     Industrials      60.24           6.35    0
ABT     Health Care      56.27           3.19    0
Foo      The Sector  The Price  The BookValue    0

## NOTE
#### Both of the above addition have taken in place

## Removal of rows from a DataFrame can be done in 3 ways :-
### 1. using .drop()
### 2. Boolean Selection
### 3. Selection using a slice

### 1. using .drop()

In [79]:
ss = sp505[:5].copy()
ss

                        Sector   Price  BookValue
Symbol
MMM                Industrials  222.89      11.34
AOS                Industrials   60.24       6.35
ABT                Health Care   56.27       3.19
ABBV               Health Care  108.48      26.14
ACN     Information Technology  150.51      10.62

In [80]:
after_drop = ss.drop(['AOS','ACN'])
after_drop

             Sector   Price  BookValue
Symbol
MMM     Industrials  222.89      11.34
ABT     Health Care   56.27       3.19
ABBV    Health Care  108.48      26.14

### The orignal DataFrame remains unmodified

In [81]:
ss

                        Sector   Price  BookValue
Symbol
MMM                Industrials  222.89      11.34
AOS                Industrials   60.24       6.35
ABT                Health Care   56.27       3.19
ABBV               Health Care  108.48      26.14
ACN     Information Technology  150.51      10.62

### 2. Removing rows using Boolean selection

##### A total of 16 rows have price > 300

In [84]:
selection = sp505.Price > 300
"{0},{1}".format(len(selection),sum(selection))

'505,16'

#### The rows having Price less than 300 can be selected no using '~' negation

In [85]:
StockLessThan300 = sp505[~selection]
StockLessThan300

                        Sector   Price  BookValue
Symbol
MMM                Industrials  222.89      11.34
AOS                Industrials   60.24       6.35
ABT                Health Care   56.27       3.19
ABBV               Health Care  108.48      26.14
ACN     Information Technology  150.51      10.62
...                        ...     ...        ...
XYL                Industrials   70.24       5.31
YUM     Consumer Discretionary   76.30     212.08
ZBH                Health Care  115.53       2.39
ZION                Financials   50.71       1.42
ZTS                Health Care   71.51      18.09

[489 rows x 3 columns]

## Removing rows using a slice

In [86]:
onlYfirsTthreE = sp505[:3]
onlYfirsTthreE

             Sector   Price  BookValue
Symbol
MMM     Industrials  222.89      11.34
AOS     Industrials   60.24       6.35
ABT     Health Care   56.27       3.19

### Since it is a 'View' in the sp505 dataframe any changes that is made to the view will modify the orignal dataframe so the proper way will be to make a copy of it

In [88]:
onlYfirsTthreE = sp505[:3].copy()
onlYfirsTthreE

             Sector   Price  BookValue
Symbol
MMM     Industrials  222.89      11.34
AOS     Industrials   60.24       6.35
ABT     Health Care   56.27       3.19