In [1]:
import pandas as pd
from pandas import DataFrame, Series

## Return a single row of series

In [2]:
s = Series([4,5,6,7])
s[2]

6

## Return the rows of Series with labels 1 and 3

In [10]:
s = Series([1,2,3,4])
print(s[[1,3]])

1    2
3    4
dtype: int64

## Creating an Explicit index based Series

In [12]:
s = Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
s[['a','c']]

a    1
c    3
dtype: int64

In [16]:
s[[0,1,3]]

a    1
b    2
d    4
dtype: int64

In [17]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [21]:
dates = pd.date_range('2023-01-01','2023-01-07')
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07'],
              dtype='datetime64[ns]', freq='D')

In [22]:
temp1 = Series([40,50,55,57,60,65,54],index = dates)
temp1

2023-01-01    40
2023-01-02    50
2023-01-03    55
2023-01-04    57
2023-01-05    60
2023-01-06    65
2023-01-07    54
Freq: D, dtype: int64

In [24]:
round(temp1.mean(),2)

54.43

In [25]:
temp2 = Series([57,62,48,47,52,53,63],index = dates)
temp_diff = temp2-temp1
temp_diff

2023-01-01    17
2023-01-02    12
2023-01-03    -7
2023-01-04   -10
2023-01-05    -8
2023-01-06   -12
2023-01-07     9
Freq: D, dtype: int64

In [34]:
temp_diff[['2023-01-01','2023-01-04','2023-01-06']]

2023-01-01    17
2023-01-04   -10
2023-01-06   -12
dtype: int64

In [32]:
temp_diff[[2,1]]

2023-01-03    -7
2023-01-02    12
Freq: -1D, dtype: int64

In [35]:
temp_df = DataFrame({'Delhi':temp1,'Mumbai':temp2})
temp_df

            Delhi  Mumbai
2023-01-01     40      57
2023-01-02     50      62
2023-01-03     55      48
2023-01-04     57      47
2023-01-05     60      52
2023-01-06     65      53
2023-01-07     54      63

In [36]:
temp_df['Delhi']

2023-01-01    40
2023-01-02    50
2023-01-03    55
2023-01-04    57
2023-01-05    60
2023-01-06    65
2023-01-07    54
Freq: D, Name: Delhi, dtype: int64

In [38]:
temp_df[['Mumbai','Delhi']]

            Mumbai  Delhi
2023-01-01      57     40
2023-01-02      62     50
2023-01-03      48     55
2023-01-04      47     57
2023-01-05      52     60
2023-01-06      53     65
2023-01-07      63     54

In [40]:
temp_df.Delhi

2023-01-01    40
2023-01-02    50
2023-01-03    55
2023-01-04    57
2023-01-05    60
2023-01-06    65
2023-01-07    54
Freq: D, Name: Delhi, dtype: int64

In [41]:
temp_df.Mumbai

2023-01-01    57
2023-01-02    62
2023-01-03    48
2023-01-04    47
2023-01-05    52
2023-01-06    53
2023-01-07    63
Freq: D, Name: Mumbai, dtype: int64

In [43]:
temp_diffs = temp_df.Delhi-temp_df.Mumbai
temp_diffs

2023-01-01   -17
2023-01-02   -12
2023-01-03     7
2023-01-04    10
2023-01-05     8
2023-01-06    12
2023-01-07    -9
Freq: D, dtype: int64

In [44]:
temp_df['temp_diff'] = temp_diffs
temp_df

            Delhi  Mumbai  temp_diff
2023-01-01     40      57        -17
2023-01-02     50      62        -12
2023-01-03     55      48          7
2023-01-04     57      47         10
2023-01-05     60      52          8
2023-01-06     65      53         12
2023-01-07     54      63         -9

In [45]:
temp_df.columns

Index(['Delhi', 'Mumbai', 'temp_diff'], dtype='object')

In [46]:
temp_df.temp_diff[1:4]

2023-01-02   -12
2023-01-03     7
2023-01-04    10
Freq: D, Name: temp_diff, dtype: int64

In [54]:
temp_df.iloc[1].index

Index(['Delhi', 'Mumbai', 'temp_diff'], dtype='object')

## To locate a record in Data Frame by it's key

In [51]:
temp_df.loc['2023-01-03']

Delhi        55
Mumbai       48
temp_diff     7
Name: 2023-01-03 00:00:00, dtype: int64

### To access specifc row here, had use .iloc or .loc property as opposed to Series

In [57]:
temp_df.iloc[[1,2,4]]

            Delhi  Mumbai  temp_diff
2023-01-02     50      62        -12
2023-01-03     55      48          7
2023-01-05     60      52          8

In [58]:
temp_df.iloc[[1,2,4]].temp_diff

2023-01-02   -12
2023-01-03     7
2023-01-05     8
Name: temp_diff, dtype: int64

In [60]:
temp_df.Delhi > 55

2023-01-01    False
2023-01-02    False
2023-01-03    False
2023-01-04     True
2023-01-05     True
2023-01-06     True
2023-01-07    False
Freq: D, Name: Delhi, dtype: bool

## Boolean Selection

In [62]:
temp_df[temp_df.Delhi>55]

            Delhi  Mumbai  temp_diff
2023-01-04     57      47         10
2023-01-05     60      52          8
2023-01-06     65      53         12

## Loading Data from csv file

In [3]:
! type C:\Users\radha\Downloads\test1.csv

quarter,SER_REF,industry_code,industry_name,filled jobs,filled jobs revised,filled jobs diff,filled jobs % diff,total_earnings,total earnings revised,earnings diff,earnings % diff
2020.09,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",93195,93706,511,0.5,1205,1212,7,0.6
2020.09,BDCQ.SEA1BA,B,Mining,5340,5355,15,0.3,145,145,0,0
2020.09,BDCQ.SEA1CA,C,Manufacturing,217139,218967,1828,0.8,3791,3823,32,0.8
2020.09,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",19886,20060,174,0.9,493,498,5,1
2020.09,BDCQ.SEA1EA,E,Construction,166413,168095,1682,1,2873,2906,33,1.1
2020.09,BDCQ.SEA1FA,F,Wholesale Trade,103816,104974,1158,1.1,1867,1892,25,1.3
2020.09,BDCQ.SEA1GA,G,Retail Trade,197373,198379,1006,0.5,2160,2173,13,0.6
2020.09,BDCQ.SEA1HA,H,Accommodation and Food Services,138259,139176,917,0.7,1089,1098,9,0.8
2020.09,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",84413,85499,1086,1.3,1520,1536,16,1.1
2020.09,BDCQ.SEA1JA,J,Information Media and Telecommunica,29086,30117,1031,3.5,611,634,23,3.8
2020.09,BDCQ.SEA1KA,K,Financial and Insurance Services,60481,61378,897,1.5,1603,1625,22,1.4
2020.09,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",31360,32203,843,2.7,510,528,18,3.5
2020.09,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",157483,158004,521,0.3,3314,3326,12,0.4
2020.09,BDCQ.SEA1NA,N,Administrative and Support Services,93653,94779,1126,1.2,1121,1135,14,1.2
2020.09,BDCQ.SEA1OA,O,Public Administration and Safety,142530,144919,2389,1.7,3095,3104,9,0.3
2020.09,BDCQ.SEA1PA,P,Education and Training,197093,197474,381,0.2,2994,2999,5,0.2
2020.09,BDCQ.SEA1QA,Q,Health Care and Social Assistance,238713,240027,1314,0.6,3884,3902,18,0.5
2020.09,BDCQ.SEA1RA,R,Arts and Recreation Services,39453,39523,70,0.2,476,477,1,0.2
2020.09,BDCQ.SEA1SA,S,Other Services,67331,67881,550,0.8,842,851,9,1.1
2020.09,BDCQ.SEA1ZA,Z,Total Industry,2083018,2100514,17496,0.8,33591,33862,271,0.8
2020.12,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",102683,103593,910,0.9,1306,1318,12,0.9
2020.12,BDCQ.SEA1BA,B,Mining,5271,5295,24,0.5,140,139,-1,-0.7
2020.12,BDCQ.SEA1CA,C,Manufacturing,220395,222691,2296,1,3934,3976,42,1.1
2020.12,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",20213,20282,69,0.3,451,455,4,0.9
2020.12,BDCQ.SEA1EA,E,Construction,167977,169062,1085,0.6,2956,2982,26,0.9
2020.12,BDCQ.SEA1FA,F,Wholesale Trade,104740,105785,1045,1,1896,1919,23,1.2
2020.12,BDCQ.SEA1GA,G,Retail Trade,202286,204218,1932,1,2225,2247,22,1
2020.12,BDCQ.SEA1HA,H,Accommodation and Food Services,136941,139176,2235,1.6,1135,1155,20,1.8
2020.12,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",84580,85266,686,0.8,1500,1514,14,0.9
2020.12,BDCQ.SEA1JA,J,Information Media and Telecommunica,29555,29740,185,0.6,629,633,4,0.6
2020.12,BDCQ.SEA1KA,K,Financial and Insurance Services,61626,62822,1196,1.9,1638,1663,25,1.5
2020.12,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",32488,32575,87,0.3,551,553,2,0.4
2020.12,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",158424,159248,824,0.5,3393,3414,21,0.6
2020.12,BDCQ.SEA1NA,N,Administrative and Support Services,92742,94335,1593,1.7,1129,1147,18,1.6
2020.12,BDCQ.SEA1OA,O,Public Administration and Safety,151552,151671,119,0.1,2915,2918,3,0.1
2020.12,BDCQ.SEA1PA,P,Education and Training,197682,201128,3446,1.7,3132,3178,46,1.5
2020.12,BDCQ.SEA1QA,Q,Health Care and Social Assistance,240504,242743,2239,0.9,3817,3855,38,1
2020.12,BDCQ.SEA1RA,R,Arts and Recreation Services,38614,39469,855,2.2,478,493,15,3.1
2020.12,BDCQ.SEA1SA,S,Other Services,68469,68579,110,0.2,860,863,3,0.3
2020.12,BDCQ.SEA1ZA,Z,Total Industry,2116740,2137679,20939,1,34085,34422,337,1
2021.03,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",101342,102002,660,0.7,1269,1278,9,0.7
2021.03,BDCQ.SEA1BA,B,Mining,5393,5384,-9,-0.2,153,153,0,0
2021.03,BDCQ.SEA1CA,C,Manufacturing,221520,223355,1835,0.8,3954,3988,34,0.9
2021.03,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",20273,20618,345,1.7,472,481,9,1.9
2021.03,BDCQ.SEA1EA,E,Construction,170899,172023,1124,0.7,2903,2925,22,0.8
2021.03,BDCQ.SEA1FA,F,Wholesale Trade,105329,106865,1536,1.5,1920,1951,31,1.6
2021.03,BDCQ.SEA1GA,G,Retail Trade,199567,201163,1596,0.8,2245,2265,20,0.9
2021.03,BDCQ.SEA1HA,H,Accommodation and Food Services,137525,138632,1107,0.8,1152,1162,10,0.9
2021.03,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",83810,84651,841,1,1428,1444,16,1.1
2021.03,BDCQ.SEA1JA,J,Information Media and Telecommunica,30151,30483,332,1.1,627,633,6,1
2021.03,BDCQ.SEA1KA,K,Financial and Insurance Services,62564,62958,394,0.6,1633,1639,6,0.4
2021.03,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",32586,33046,460,1.4,562,569,7,1.2
2021.03,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",160102,160798,696,0.4,3545,3560,15,0.4
2021.03,BDCQ.SEA1NA,N,Administrative and Support Services,90671,93371,2700,3,1078,1115,37,3.4
2021.03,BDCQ.SEA1OA,O,Public Administration and Safety,146079,146485,406,0.3,3169,3179,10,0.3
2021.03,BDCQ.SEA1PA,P,Education and Training,190834,192032,1198,0.6,2590,2609,19,0.7
2021.03,BDCQ.SEA1QA,Q,Health Care and Social Assistance,244167,245489,1322,0.5,3837,3854,17,0.4
2021.03,BDCQ.SEA1RA,R,Arts and Recreation Services,37770,38758,988,2.6,447,461,14,3.1
2021.03,BDCQ.SEA1SA,S,Other Services,68878,68717,-161,-0.2,850,848,-2,-0.2
2021.03,BDCQ.SEA1ZA,Z,Total Industry,2109457,2126830,17373,0.8,33833,34115,282,0.8
2021.06,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",92962,93431,469,0.5,1229,1236,7,0.6
2021.06,BDCQ.SEA1BA,B,Mining,5351,5353,2,0,145,145,0,0
2021.06,BDCQ.SEA1CA,C,Manufacturing,221060,224296,3236,1.5,4052,4112,60,1.5
2021.06,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",20095,20644,549,2.7,453,466,13,2.9
2021.06,BDCQ.SEA1EA,E,Construction,175600,177192,1592,0.9,3112,3141,29,0.9
2021.06,BDCQ.SEA1FA,F,Wholesale Trade,105234,107221,1987,1.9,1958,1999,41,2.1
2021.06,BDCQ.SEA1GA,G,Retail Trade,197974,200282,2308,1.2,2264,2292,28,1.2
2021.06,BDCQ.SEA1HA,H,Accommodation and Food Services,138223,140234,2011,1.5,1223,1243,20,1.6
2021.06,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",84888,85578,690,0.8,1477,1490,13,0.9
2021.06,BDCQ.SEA1JA,J,Information Media and Telecommunica,30478,30921,443,1.5,644,654,10,1.6
2021.06,BDCQ.SEA1KA,K,Financial and Insurance Services,62272,62938,666,1.1,1677,1692,15,0.9
2021.06,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",33498,33850,352,1.1,587,591,4,0.7
2021.06,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",163785,166225,2440,1.5,3556,3631,75,2.1
2021.06,BDCQ.SEA1NA,N,Administrative and Support Services,98884,102368,3484,3.5,1273,1321,48,3.8
2021.06,BDCQ.SEA1OA,O,Public Administration and Safety,146061,146411,350,0.2,2932,2940,8,0.3
2021.06,BDCQ.SEA1PA,P,Education and Training,200186,200926,740,0.4,3099,3111,12,0.4
2021.06,BDCQ.SEA1QA,Q,Health Care and Social Assistance,245348,250453,5105,2.1,3918,4026,108,2.8
2021.06,BDCQ.SEA1RA,R,Arts and Recreation Services,38614,39094,480,1.2,457,463,6,1.3
2021.06,BDCQ.SEA1SA,S,Other Services,69339,70507,1168,1.7,885,899,14,1.6
2021.06,BDCQ.SEA1ZA,Z,Total Industry,2129855,2157926,28071,1.3,34940,35452,512,1.5
2021.09,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",91635,92353,718,0.8,1250,1260,10,0.8
2021.09,BDCQ.SEA1BA,B,Mining,5354,5354,0,0,142,142,0,0
2021.09,BDCQ.SEA1CA,C,Manufacturing,218962,221282,2320,1.1,3964,4005,41,1
2021.09,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",20415,20738,323,1.6,534,542,8,1.5
2021.09,BDCQ.SEA1EA,E,Construction,176379,177870,1491,0.8,3094,3123,29,0.9
2021.09,BDCQ.SEA1FA,F,Wholesale Trade,106106,107479,1373,1.3,2010,2040,30,1.5
2021.09,BDCQ.SEA1GA,G,Retail Trade,199788,202170,2382,1.2,2331,2359,28,1.2
2021.09,BDCQ.SEA1HA,H,Accommodation and Food Services,141996,143141,1145,0.8,1172,1184,12,1
2021.09,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",83032,84939,1907,2.3,1504,1536,32,2.1
2021.09,BDCQ.SEA1JA,J,Information Media and Telecommunica,29977,30530,553,1.8,695,707,12,1.7
2021.09,BDCQ.SEA1KA,K,Financial and Insurance Services,63896,64205,309,0.5,1859,1867,8,0.4
2021.09,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",33109,33600,491,1.5,587,594,7,1.2
2021.09,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",166897,168314,1417,0.8,3696,3729,33,0.9
2021.09,BDCQ.SEA1NA,N,Administrative and Support Services,94843,96214,1371,1.4,1226,1246,20,1.6
2021.09,BDCQ.SEA1OA,O,Public Administration and Safety,146090,147449,1359,0.9,3346,3369,23,0.7
2021.09,BDCQ.SEA1PA,P,Education and Training,200236,201356,1120,0.6,2832,2846,14,0.5
2021.09,BDCQ.SEA1QA,Q,Health Care and Social Assistance,251816,254920,3104,1.2,4065,4110,45,1.1
2021.09,BDCQ.SEA1RA,R,Arts and Recreation Services,40327,40847,520,1.3,496,504,8,1.6
2021.09,BDCQ.SEA1SA,S,Other Services,70966,71202,236,0.3,907,912,5,0.6
2021.09,BDCQ.SEA1ZA,Z,Total Industry,2141825,2163964,22139,1,35708,36074,366,1
2021.12,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",102423,102896,473,0.5,1386,1393,7,0.5
2021.12,BDCQ.SEA1BA,B,Mining,5407,5410,3,0.1,154,154,0,0
2021.12,BDCQ.SEA1CA,C,Manufacturing,223229,226109,2880,1.3,4220,4276,56,1.3
2021.12,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",20894,21113,219,1,504,508,4,0.8
2021.12,BDCQ.SEA1EA,E,Construction,182862,183537,675,0.4,3401,3415,14,0.4
2021.12,BDCQ.SEA1FA,F,Wholesale Trade,108036,109548,1512,1.4,2064,2094,30,1.5
2021.12,BDCQ.SEA1GA,G,Retail Trade,210670,212421,1751,0.8,2438,2460,22,0.9
2021.12,BDCQ.SEA1HA,H,Accommodation and Food Services,143901,144782,881,0.6,1219,1227,8,0.7
2021.12,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",83872,87332,3460,4.1,1558,1631,73,4.7
2021.12,BDCQ.SEA1JA,J,Information Media and Telecommunica,29758,29921,163,0.5,672,676,4,0.6
2021.12,BDCQ.SEA1KA,K,Financial and Insurance Services,65474,65722,248,0.4,1878,1886,8,0.4
2021.12,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",34249,34531,282,0.8,635,638,3,0.5
2021.12,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",171661,172840,1179,0.7,3920,3952,32,0.8
2021.12,BDCQ.SEA1NA,N,Administrative and Support Services,98098,99856,1758,1.8,1319,1341,22,1.7
2021.12,BDCQ.SEA1OA,O,Public Administration and Safety,151109,151639,530,0.4,3264,3273,9,0.3
2021.12,BDCQ.SEA1PA,P,Education and Training,199552,200533,981,0.5,3273,3289,16,0.5
2021.12,BDCQ.SEA1QA,Q,Health Care and Social Assistance,254592,256130,1538,0.6,4512,4533,21,0.5
2021.12,BDCQ.SEA1RA,R,Arts and Recreation Services,38756,38895,139,0.4,476,478,2,0.4
2021.12,BDCQ.SEA1SA,S,Other Services,72431,72590,159,0.2,964,966,2,0.2
2021.12,BDCQ.SEA1ZA,Z,Total Industry,2196974,2215805,18831,0.9,37856,38193,337,0.9
2022.03,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",100285,101092,807,0.8,1362,1372,10,0.7
2022.03,BDCQ.SEA1BA,B,Mining,5400,5427,27,0.5,150,150,0,0
2022.03,BDCQ.SEA1CA,C,Manufacturing,226092,228608,2516,1.1,4252,4305,53,1.2
2022.03,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",21133,21386,253,1.2,501,508,7,1.4
2022.03,BDCQ.SEA1EA,E,Construction,183512,184396,884,0.5,3303,3321,18,0.5
2022.03,BDCQ.SEA1FA,F,Wholesale Trade,108042,109351,1309,1.2,2075,2103,28,1.3
2022.03,BDCQ.SEA1GA,G,Retail Trade,205297,208375,3078,1.5,2440,2475,35,1.4
2022.03,BDCQ.SEA1HA,H,Accommodation and Food Services,136237,137070,833,0.6,1238,1247,9,0.7
2022.03,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",84332,86212,1880,2.2,1602,1633,31,1.9
2022.03,BDCQ.SEA1JA,J,Information Media and Telecommunica,29797,30037,240,0.8,678,684,6,0.9
2022.03,BDCQ.SEA1KA,K,Financial and Insurance Services,65777,66107,330,0.5,1846,1857,11,0.6
2022.03,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",34030,34358,328,1,623,736,113,18.1
2022.03,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",174354,175652,1298,0.7,3889,3923,34,0.9
2022.03,BDCQ.SEA1NA,N,Administrative and Support Services,97319,98306,987,1,1318,1332,14,1.1
2022.03,BDCQ.SEA1OA,O,Public Administration and Safety,152041,152190,149,0.1,3394,3399,5,0.1
2022.03,BDCQ.SEA1PA,P,Education and Training,193570,194630,1060,0.5,2704,2712,8,0.3
2022.03,BDCQ.SEA1QA,Q,Health Care and Social Assistance,252744,254268,1524,0.6,4340,4363,23,0.5
2022.03,BDCQ.SEA1RA,R,Arts and Recreation Services,36737,36967,230,0.6,468,471,3,0.6
2022.03,BDCQ.SEA1SA,S,Other Services,71542,71735,193,0.3,947,952,5,0.5
2022.03,BDCQ.SEA1ZA,Z,Total Industry,2178241,2196169,17928,0.8,37128,37544,416,1.1
2022.06,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",94075,94757,682,0.7,1317,1323,6,0.5
2022.06,BDCQ.SEA1BA,B,Mining,5553,5548,-5,-0.1,169,169,0,0
2022.06,BDCQ.SEA1CA,C,Manufacturing,224408,226870,2462,1.1,4291,4340,49,1.1
2022.06,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",21131,22052,921,4.4,496,516,20,4
2022.06,BDCQ.SEA1EA,E,Construction,185069,186312,1243,0.7,3435,3459,24,0.7
2022.06,BDCQ.SEA1FA,F,Wholesale Trade,108510,110856,2346,2.2,2167,2227,60,2.8
2022.06,BDCQ.SEA1GA,G,Retail Trade,203395,205783,2388,1.2,2412,2440,28,1.2
2022.06,BDCQ.SEA1HA,H,Accommodation and Food Services,136076,136958,882,0.6,1241,1251,10,0.8
2022.06,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",86338,87385,1047,1.2,1666,1688,22,1.3
2022.06,BDCQ.SEA1JA,J,Information Media and Telecommunica,30254,30923,669,2.2,679,694,15,2.2
2022.06,BDCQ.SEA1KA,K,Financial and Insurance Services,66205,66846,641,1,1864,1889,25,1.3
2022.06,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",34325,34835,510,1.5,662,671,9,1.4
2022.06,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",177281,179484,2203,1.2,4177,4231,54,1.3
2022.06,BDCQ.SEA1NA,N,Administrative and Support Services,102981,104886,1905,1.8,1453,1478,25,1.7
2022.06,BDCQ.SEA1OA,O,Public Administration and Safety,151314,151311,-3,0,3253,3258,5,0.2
2022.06,BDCQ.SEA1PA,P,Education and Training,196755,197982,1227,0.6,3202,3229,27,0.8
2022.06,BDCQ.SEA1QA,Q,Health Care and Social Assistance,254550,256049,1499,0.6,4431,4458,27,0.6
2022.06,BDCQ.SEA1RA,R,Arts and Recreation Services,37120,37381,261,0.7,465,468,3,0.6
2022.06,BDCQ.SEA1SA,S,Other Services,72375,72724,349,0.5,975,981,6,0.6
2022.06,BDCQ.SEA1ZA,Z,Total Industry,2187716,2208943,21227,1,38353,38772,419,1.1
2022.09,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",90838,91674,836,0.9,1313,1323,10,0.8
2022.09,BDCQ.SEA1BA,B,Mining,5475,5490,15,0.3,154,155,1,0.6
2022.09,BDCQ.SEA1CA,C,Manufacturing,223123,224994,1871,0.8,4326,4363,37,0.9
2022.09,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",21652,21892,240,1.1,575,581,6,1
2022.09,BDCQ.SEA1EA,E,Construction,183098,184672,1574,0.9,3475,3508,33,0.9
2022.09,BDCQ.SEA1FA,F,Wholesale Trade,109316,110998,1682,1.5,2226,2264,38,1.7
2022.09,BDCQ.SEA1GA,G,Retail Trade,204170,206909,2739,1.3,2440,2472,32,1.3
2022.09,BDCQ.SEA1HA,H,Accommodation and Food Services,140310,141259,949,0.7,1268,1278,10,0.8
2022.09,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",87993,89228,1235,1.4,1777,1798,21,1.2
2022.09,BDCQ.SEA1JA,J,Information Media and Telecommunica,31413,31491,78,0.2,761,763,2,0.3
2022.09,BDCQ.SEA1KA,K,Financial and Insurance Services,66130,67296,1166,1.8,1974,2014,40,2
2022.09,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",34091,34527,436,1.3,658,666,8,1.2
2022.09,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",176467,177989,1522,0.9,4251,4290,39,0.9
2022.09,BDCQ.SEA1NA,N,Administrative and Support Services,97112,98929,1817,1.9,1388,1415,27,1.9
2022.09,BDCQ.SEA1OA,O,Public Administration and Safety,151164,151843,679,0.4,3556,3576,20,0.6
2022.09,BDCQ.SEA1PA,P,Education and Training,200721,201057,336,0.2,2924,2932,8,0.3
2022.09,BDCQ.SEA1QA,Q,Health Care and Social Assistance,254181,255864,1683,0.7,4575,4601,26,0.6
2022.09,BDCQ.SEA1RA,R,Arts and Recreation Services,39896,40295,399,1,508,520,12,2.4
2022.09,BDCQ.SEA1SA,S,Other Services,72446,72930,484,0.7,1008,1014,6,0.6
2022.09,BDCQ.SEA1ZA,Z,Total Industry,2189595,2209339,19744,0.9,39160,39534,374,1
2022.12,BDCQ.SEA1AA,A,"Agriculture, Forestry and Fishing",98755,99680,925,0.9,1425,1435,10,0.7
2022.12,BDCQ.SEA1BA,B,Mining,5634,5653,19,0.3,166,167,1,0.6
2022.12,BDCQ.SEA1CA,C,Manufacturing,228552,229708,1156,0.5,4578,4605,27,0.6
2022.12,BDCQ.SEA1DA,D,"Electricity, Gas, Water and Waste S",21489,22208,719,3.3,537,553,16,3
2022.12,BDCQ.SEA1EA,E,Construction,185740,187607,1867,1,3623,3665,42,1.2
2022.12,BDCQ.SEA1FA,F,Wholesale Trade,111276,112682,1406,1.3,2267,2295,28,1.2
2022.12,BDCQ.SEA1GA,G,Retail Trade,212669,215104,2435,1.1,2566,2596,30,1.2
2022.12,BDCQ.SEA1HA,H,Accommodation and Food Services,146625,147748,1123,0.8,1364,1377,13,1
2022.12,BDCQ.SEA1IA,I,"Transport, Postal and Warehousing",88357,90607,2250,2.5,1768,1815,47,2.7
2022.12,BDCQ.SEA1JA,J,Information Media and Telecommunica,30797,31817,1020,3.3,722,742,20,2.8
2022.12,BDCQ.SEA1KA,K,Financial and Insurance Services,67798,68235,437,0.6,2176,2192,16,0.7
2022.12,BDCQ.SEA1LA,L,"Rental, Hiring and Real Estate Serv",35387,35809,422,1.2,692,698,6,0.9
2022.12,BDCQ.SEA1MA,M,"Professional, Scientific and Techni",178790,180784,1994,1.1,4283,4328,45,1.1
2022.12,BDCQ.SEA1NA,N,Administrative and Support Services,99334,101022,1688,1.7,1448,1472,24,1.7
2022.12,BDCQ.SEA1OA,O,Public Administration and Safety,154218,154515,297,0.2,3501,3511,10,0.3
2022.12,BDCQ.SEA1PA,P,Education and Training,200765,202179,1414,0.7,3363,3382,19,0.6
2022.12,BDCQ.SEA1QA,Q,Health Care and Social Assistance,254497,257381,2884,1.1,4596,4652,56,1.2
2022.12,BDCQ.SEA1RA,R,Arts and Recreation Services,40102,40417,315,0.8,534,539,5,0.9
2022.12,BDCQ.SEA1SA,S,Other Services,73051,73296,245,0.3,1037,1042,5,0.5
2022.12,BDCQ.SEA1ZA,Z,Total Industry,2233837,2256452,22615,1,40646,41068,422,1

## The same information into Data Frame object