### 1. Regular Expressions
### <font color ='brown'> Notes </font>

#### Format: match = re.search(pat, str) 

+ a, X, 9, < -- ordinary characters just match themselves exactly. 
+ The meta-characters which do not match themselves because they have special meanings are: . ^ $ * + ? { [ ] \ | ( ) 
+ . (a period) -- matches any single character except newline '\n'
+ . (a period) -- matches any
+ \w -- (lowercase w) matches a "word" character: a letter or digit or underbar [a-zA-Z0-9_]. 
+ \b -- boundary between word and non-word
+ \s -- (lowercase s) matches a single whitespace character -- space, newline, return, tab, form [ \n\r\t\f]. 
+ \S (upper case S) matches any non-whitespace character.
+ \t, \n, \r -- tab, newline, return
+ \d -- decimal digit [0-9] 

+ ^ = start, $ = end -- match the start or end of the string
+ \ -- inhibit the "specialness" of a character.

In [1]:
import re

In [9]:
match = re.search('ix','six') 
# print(match) # returns :- <re.Match object; span=(1, 3), match='ix'>
print(match.group())

ix

In [12]:
match = re.search('jx','six')
if match :
    print('Match Found: ', match.group())
else :
    print('No match')

No match

In [13]:
search_str = 'Patronizing'
match = re.search('^Pat',search_str)
if match :
    print('Match Found: ', match.group())
else :
    print('No match')

Match Found:  Pat

In [15]:
# ends with
match = re.search('zing$',search_str)
if match :
    print('Match Found: ', match.group())
else :
    print('No match')

Match Found:  zing

In [19]:
# starts with
search_str = 'PPatronizing'
match = re.search('^Pat',search_str)
if match :
    print('Match Found: ', match.group())
else :
    print('No match')

No match

In [18]:
# . :- Any Character but '\n'
match = re.search('...$','saA1')
if match :
    print('Match Found: ', match.group())
else :
    print('No match')

Match Found:  aA1

+ \w - (lower case w) matches a word character: a letter(a-z / A-Z), a number(0-9) or _
+ \d - (lower case d) matches a decimal digit (0-9)

In [20]:
match = re.search('\d\d\d$','aA123')
if match :
    print('Match Found: ', match.group())
else :
    print('No match')

Match Found:  123

In [24]:
match = re.search('\w\w\w@gmail.com$','rangareddy@gmail.com')
if match :
    print('Match Found: ', f"{'***'+ match.group()}")
else :
    print('No match')

Match Found:  ***ddy@gmail.com

+ \s :- Match space

In [25]:
match = re.search('\s\d\d\d\s','FYD Ab9 878 nk')
if match :
    print('Match Found: ', f"{'***'+ match.group()+'***'}")
else :
    print('No match')

Match Found:  *** 878 ***

### Repetitions 
+ '+' :- 1 or more occurance of character to the left e.g. 'i+' :- one or more i's 
+ '*' :- 0 or more occurance of character to the left 
+ '?' :- 0 or 1 occurance of character to the left

In [26]:
match = re.search('hel+','hellooooo')
if match :
    print('Match Found: ', f"{match.group()}")
else :
    print('No match')

Match Found:  hell

In [27]:
match = re.search('hello+','hellooooo')
if match :
    print('Match Found: ', f"{match.group()}")
else :
    print('No match')

Match Found:  hellooooo

In [29]:
# /s* :- zero or more whitespaces
# look for 3 digits possibly seprated by spaces
match = re.search('\d\s*\d\s*\d','A12  3bc')
if match :
    print('Match Found: ', f"{match.group()}")
else :
    print('No match')

Match Found:  12  3

+ Matching emails

In [32]:
in_str = "Hello, my website tough-guy@twitter.com"
match = re.search('\w+-\w+@\w+',in_str)
if match :
    print('Match Found: ', match.group())
else :
    print('No match')

Match Found:  tough-guy@twitter

## More than one match will return only the first match

In [33]:
in_str = "Hello, my website tough-guy@twitter.com, you can also find me at ziddi-guy@gmail.com"
match = re.search('\w+-\w+@\w+',in_str)
if match :
    print('Match Found: ', match.group())
else :
    print('No match')

Match Found:  tough-guy@twitter

+ To return all substrings matching the pattern

In [40]:
# re.findall() returns all the matching cases
emails = re.findall('\w+-\w+@\w+',in_str)
# print(emails) :- This when runs gives list all sub-strings matching the pattern
for email in emails:
    print(email)

tough-guy@twitter
ziddi-guy@gmail

+ To match any one character
+ Using '\\' to skip metcharacter's actual meaning

In [60]:
in_str = "Hello, my website tough-gu-y@twitter.com, you can also find me at ziddi-guy@gmail.com"
match = re.search('[\w-]+@\w+\.\w+',in_str)
if match:
    print(match.group())

tough-gu-y@twitter.com

+ Effect of not using the [ ]

In [61]:
match = re.search('\w+-\w+@\w+.\w+', in_str)
if match:
    print(match.group())

gu-y@twitter.com

+ Group Extraction

In [62]:
#my_str = 'My email is pink-elephant@gmail.com. Thank you'
my_str = 'Please contact support@gmail.com for any queries. You can also reach me at pink-elephant@gmail.com. Thank you'


## Remove specialness of a character
match = re.search('([\w-]+)@([\w-]+\.com)', my_str)
if match:
    print('user name: ', match.group(1) )
    print('email provider: ', match.group(2) )

user name:  support
email provider:  gmail.com

In [79]:
## Suppose we have a text with many email addresses
my_str = 'Please contact support@gmail.com for any queries. You can also reach me at pink.elephant@gmail.com. Thank you'

  ## re.findall() returns a list of all the found email strings
emails = re.findall('[\w\.]+@[\w\.]+', my_str) 
# print(emails)
for x in emails:
    print (x)
# #print(emails)

support@gmail.com
pink.elephant@gmail.com.

+ String Substitution

In [80]:
my_str = "Her name is anarkali"
print(re.sub('anar','champa',my_str))

Her name is champakali

+ Math module

In [81]:
import math

In [93]:
# dir(math)

In [84]:
math.pow(2,10)

1024.0

In [85]:
math.ceil(3.2)

4

In [86]:
math.floor(3.2)

3

In [92]:
math.trunc(4.567)

(4, -6)

+ round() is the default python method

In [88]:
round(4.27785,2)

4.28

+ log of 3 to the base 2

In [90]:
round(math.log(3,2),2)

1.58

+ If power of log is not mentioned the base is considered to be e

In [94]:
math.log(3)

1.0986122886681098

In [95]:
math.sqrt(9)

3.0

In [96]:
math.cos(0)

1.0

In [98]:
math.factorial(5)

120

+ 3. Calender

In [106]:
import calendar
# dir(calendar)

In [110]:
print("The calendar of year 2023 is:")
print(calendar.calendar(2023,1,1,5))

The calendar of year 2023 is:
                                 2023

      January                  February                  March
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
                   1            1  2  3  4  5            1  2  3  4  5
 2  3  4  5  6  7  8      6  7  8  9 10 11 12      6  7  8  9 10 11 12
 9 10 11 12 13 14 15     13 14 15 16 17 18 19     13 14 15 16 17 18 19
16 17 18 19 20 21 22     20 21 22 23 24 25 26     20 21 22 23 24 25 26
23 24 25 26 27 28 29     27 28                    27 28 29 30 31
30 31

       April                     May                      June
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
                1  2      1  2  3  4  5  6  7               1  2  3  4
 3  4  5  6  7  8  9      8  9 10 11 12 13 14      5  6  7  8  9 10 11
10 11 12 13 14 15 16     15 16 17 18 19 20 21     12 13 14 15 16 17 18
17 18 19 20 21 22 23     22 23 24 25 26 27 28     19 20 21 22 23 24 25
24 25 26 27 28 29 30     29 30 31                 26 27 28 29 30

        July                    August                 September
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
                1  2         1  2  3  4  5  6                  1  2  3
 3  4  5  6  7  8  9      7  8  9 10 11 12 13      4  5  6  7  8  9 10
10 11 12 13 14 15 16     14 15 16 17 18 19 20     11 12 13 14 15 16 17
17 18 19 20 21 22 23     21 22 23 24 25 26 27     18 19 20 21 22 23 24
24 25 26 27 28 29 30     28 29 30 31              25 26 27 28 29 30
31

      October                  November                 December
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
                   1            1  2  3  4  5                  1  2  3
 2  3  4  5  6  7  8      6  7  8  9 10 11 12      4  5  6  7  8  9 10
 9 10 11 12 13 14 15     13 14 15 16 17 18 19     11 12 13 14 15 16 17
16 17 18 19 20 21 22     20 21 22 23 24 25 26     18 19 20 21 22 23 24
23 24 25 26 27 28 29     27 28 29 30              25 26 27 28 29 30 31
30 31

In [114]:
print("The October month of 2023 is \n \n")
print(calendar.month(2023,10,2,1))

The October month of 2023 is


    October 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [117]:
calendar.isleap(2023)

False

In [118]:
## incomplete