## Jupyter Shortcuts 
+ esc+a -- Add cell above
+ esc+b -- Add cell below
+ esc+m -- Change current cell into 'Markdown'
+ esc+y -- Convert current cell in code cell
+ esc+x -- Delete the current cell

## Data Types

+ Integer

In [1]:
x = 5
print(type(x))

<class 'int'>

+ float

In [ ]:
y = 10.2
print(type(y))

<class 'float'>

+ Boolean

In [ ]:
z = True
print(type(z))

## Arithematoc operations

In [ ]:
x = 10 
y = 13

+ Addition

In [5]:
print(x+y)

23

+ Substraction

In [6]:
print(x-y)

-3

+ Multiplication

In [7]:
print(x*y)

130

+ Division

In [8]:
print(x/y)

0.7692307692307693

+ power

In [9]:
print(x**y)

10000000000000

+ Floor Division

In [10]:
print(y//x)

1

## Boolean Operations

In [11]:
x = True
y = False

+ Logical OR

In [12]:
print(x or y)

True

+ Logical AND

In [13]:
print(x and y)

False

+ Logical NOT

In [14]:
print(not x)

False

## Sequence Types

+ List

In [15]:
list1 = [12,13,14,15,16]
print(type(list1))

<class 'list'>

+ Tuple

In [16]:
tup1 = (12,13,14,15,16)
print(type(tup1))

<class 'tuple'>

+ String

In [17]:
str1 = "Hello Data Science"
print(type(str1))

<class 'str'>

## Common operations that all sequence types support

+ 1. Positional Indexing :- Used for Accessing Data

In [18]:
students = ['Tom','Marry','Tam','Tim','Jacky']
print(students[0])

Tom

In [19]:
marks = (80,85,45,65,78,98)
subjects = ('ENglish','Sanskrit','Hindi','SST','Science','Math')
print(marks[2])

45

In [21]:
exp = "What a beautiful wheater !"
print(exp[3])

t

- Slicing :- Acess within a range of values based on positional index

In [22]:
print(students[2:5])

['Tam', 'Tim', 'Jacky']

In [23]:
print(marks[1:4])

(85, 45, 65)

In [24]:
print(exp[7:16])

beautiful

In [25]:
print(students[:4])

['Tom', 'Marry', 'Tam', 'Tim']

In [26]:
print(students[3:])

['Tim', 'Jacky']

In [27]:
print(marks[:4])

(80, 85, 45, 65)

In [28]:
print(marks[1:])

(85, 45, 65, 78, 98)

In [29]:
print(exp[:16])

What a beautiful

In [30]:
print(exp[7:])

beautiful wheater !

In [31]:
mixed_list = [1,'a',10.2,[1,2,3,4],('a','b','c'),"Hello"]
print(f"This is how access {mixed_list[-3][2]} from {mixed_list[3]} within {mixed_list}")

This is how access 3 from [1, 2, 3, 4] within [1, 'a', 10.2, [1, 2, 3, 4], ('a', 'b', 'c'), 'Hello']

+ 2. Iterable

In [32]:
for student in students :
    print("Hi {}".format(student))

Hi Tom
Hi Marry
Hi Tam
Hi Tim
Hi Jacky

In [33]:
i = 0 # Initialize loop
while i < len(marks): # Condition to burst loop when it gets fat enough
    print("I recived {} in {} ".format(marks[i],subjects[i]))
    i +=1  # Feed the loop and make it fat

I recived 80 in ENglish
I recived 85 in Sanskrit
I recived 45 in Hindi
I recived 65 in SST
I recived 78 in Science
I recived 98 in Math

In [34]:
str1 = "Python 3.0"
for st in str1:
    print(st)

P
y
t
h
o
n

3
.
0

## Operations specific to List

### 1. Add elements to the list

+ append :- add a element to the end of list

In [35]:
num_list = [2,3,4,5]
num_list.append(6) # performs inplace insertion
print(num_list)

[2, 3, 4, 5, 6]

+ insert :- insert an element at any desired location

In [36]:
print(num_list)
num_list.insert(3,56) # performs inplace insertion
print(num_list)

[2, 3, 4, 5, 6]
[2, 3, 4, 56, 5, 6]

+ extend :- Extends the list by iterable

In [37]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list1.extend(list2) # performs inplace insertion
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
list1.extend((11,12,13,14))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14]

In [39]:
list1.extend('Hello')
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 'H', 'e', 'l', 'l', 'o']

## 2. Remove element from the List

+ pop() - Removes value at the end of list

In [40]:
print(list1.pop()) # Remove and return item at index (default last).
print(list1)

o
[1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 'H', 'e', 'l', 'l']

+ pop(n) - Removes value at index 'n'

In [41]:
print(list1.pop(-2))
print(list1)

l
[1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 'H', 'e', 'l']

+ remove(value) :- removes the value from the list

In [42]:
list1.remove('l')
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 'H', 'e']

+ clear() :- Remove all values from list

In [43]:
print(list1)
list1.clear()
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 'H', 'e']
[]