## Import data

In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('../datasets/iris.csv',index_col='Species')

In [3]:
iris.drop(['Id'],axis = 1, inplace=True)
iris.head()

             SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa            5.1           3.5            1.4           0.2
Iris-setosa            4.9           3.0            1.4           0.2
Iris-setosa            4.7           3.2            1.3           0.2
Iris-setosa            4.6           3.1            1.5           0.2
Iris-setosa            5.0           3.6            1.4           0.2

In [4]:
x = iris.iloc[:,:4]
x.head()

             SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa            5.1           3.5            1.4           0.2
Iris-setosa            4.9           3.0            1.4           0.2
Iris-setosa            4.7           3.2            1.3           0.2
Iris-setosa            4.6           3.1            1.5           0.2
Iris-setosa            5.0           3.6            1.4           0.2

## Build the model

In [5]:
from sklearn.cluster import DBSCAN

In [6]:
model = DBSCAN(min_samples=12)

In [7]:
model.fit(x)

DBSCAN(min_samples=12)

In [8]:
# model.labels_

In [14]:
x['Labels'] = model.labels_

C:\Users\radha\AppData\Local\Temp\ipykernel_14828\3270048768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Labels'] = model.labels_

In [15]:
x.head()

             SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Labels
Species
Iris-setosa            5.1           3.5            1.4           0.2       0
Iris-setosa            4.9           3.0            1.4           0.2       0
Iris-setosa            4.7           3.2            1.3           0.2       0
Iris-setosa            4.6           3.1            1.5           0.2       0
Iris-setosa            5.0           3.6            1.4           0.2       0

In [10]:
label_grp = x.groupby('Labels')

In [11]:
label_grp.agg('mean')

        SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Labels
-1           6.397143      2.962857       4.891429      1.657143
 0           4.973913      3.391304       1.473913      0.241304
 1           5.968000      2.814000       4.424000      1.420000
 2           6.600000      3.036842       5.452632      2.089474

In [12]:
species_grp = iris.groupby('Species')
species_grp.agg('mean')

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026