## Creating DataFrame from scratch

#### Import Pandas and set some display options for output

In [1]:
# Reference Pandas and Numpy
import numpy as np
import pandas as pd
# Set the output options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows',10)

### Creating a DataFrame from scratch

#### Create DataFrame from 2-D ndarray

In [2]:
pd.DataFrame(np.array([[10,20],[21,22]]))

    0   1
0  10  20
1  21  22

#### Create DataFrame object by passing a list of Series object

In [4]:
df1 = pd.DataFrame([pd.Series(np.arange(10,20)),pd.Series(np.arange(30,40))])
df1

    0   1   2   3   4   5   6   7   8   9
0  10  11  12  13  14  15  16  17  18  19
1  30  31  32  33  34  35  36  37  38  39

#### Dimensions of DataFrame objects

In [5]:
df1.shape

(2, 10)

### Specifying the column name

In [8]:
df2 = pd.DataFrame(np.array([[10,20],[30,40]]), columns = ["a","b"])
df2

    a   b
0  10  20
1  30  40

#### Access the names of columns for the DataFrame

In [9]:
df2.columns

Index(['a', 'b'], dtype='object')

#### Accessing the default column names

In [10]:
df1.columns

RangeIndex(start=0, stop=10, step=1)