## Conditional Statements

#### If-else Construct

In [1]:
num = 10

In [2]:
if num > 0:
    print('Possitive')
else:
    print('Negative')

Possitive

In [3]:
age = 20

In [4]:
if age > 18:
    print('You are Eligible')
    print('Congrats!!')
else:
    print('Not eligible')
    print('Try Later')

You are Eligible
Congrats!!

### if-elif-else construct

In [5]:
marks = 88

In [6]:
if marks >= 80:
    print('Distinction')
elif marks >= 60 :
    print("First Class")
elif marks >= 50:
    print("Second Class")
else:
    print('Fail')

Distinction

## Loops - Excecute repetedly

## 1. for loop

In [7]:
for x in range(1,5):
    print(x)

1
2
3
4

In [8]:
for x in range(1,5):
    print(x*'*')

*
**
***
****

In [9]:
for x in range(50,101,10):
    print(x)

50
60
70
80
90
100

In [10]:
for x in range(100,50,-10):
    print(x)

100
90
80
70
60

In [11]:
for x in range(5,0,-1):
    print(x*'*')

*****
****
***
**
*

In [12]:
lst = [11,22,33,44,55]

In [13]:
for x in lst:
    print(x)

11
22
33
44
55

### 2.While loop

In [14]:
cnt = 0
while cnt < 5:
    print('Hello')
    cnt += 1
print('Completed')

Hello
Hello
Hello
Hello
Hello
Completed

## Function in Python -- should have a return statement

In [15]:
def square(x):
    """
    Parameter: Pass a numeric Value
    returns: The square of Parameter"""
    return x**2

In [16]:
square(8)

64

In [17]:
square(11)

121

### There should only one return statement in a function definition as per convention 'Proffesionally' -- ma'am suggestion

In [18]:
def grade(marks):
    if marks >= 80:
        grade = 'Distinction'
    elif marks >= 60 :
        grade = "First Class"
    elif marks >= 50:
        grade = "Second Class"
    else:
        grade = 'Fail'
    return grade

In [19]:
grade(58)

'Second Class'

In [20]:
grade(46)

'Fail'

In [21]:
grade(78)

'First Class'

In [22]:
grade(99)

'Distinction'

In [23]:
def ticket_price(clas,cupon):
    """
    Parameters:
    clas - the class(a or b or c) in upper or lower case
    cupon - 'y' or 'n' in upper or lower case 
    
    Returns:
    The Price of Ticket to be Paid
    """
    discount = 0
    if clas.lower() == 'a':
        res = 50
    elif clas.lower() == 'b':
        res = 40
    elif clas.lower() == 'c':
        res = 25
    if cupon.lower() == 'y':
        discount = 0.1*res
    tick_price = res-discount
    return('$' + str(tick_price))

In [24]:
ticket_price('A','Y')

'$45.0'

In [25]:
ticket_price('B','N')

'$40'

## Lambda Functions

#### Anonymous or nameless function

In [26]:
fn = lambda x : x**2

In [27]:
fn(9)

81

In [28]:
fn1 = lambda x,y:x+y

In [29]:
fn1(9,10)

19